@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  direction: rtl;
  font-family: "Vazir FD", sans-serif !important;
  font-size: 1rem;
}

.ck.ck-editor__editable_inline {
  direction: rtl;
  text-align: right;
}

a,
a:hover,
a:focus,
a:visited {
  color: inherit;
}
